.school-detail-page{
  padding-top: 30px;
  .pie-container{
    display: flex;
    width: 100%;
    justify-content: center;
    height: fit-content;
    .pie-wrapper{
      height: 500px;
      width: 100%;
    }
  }
}

