/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

.page-wrapper{
  width: 100%;
}

.page-container{
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  background-color: #336A6A;
}

@import '../pages/school-detail/school_detal_page.scss'